{% extends "base.html.twig" %}

{% block javascript %}
	{{parent()}}
{% endblock %}

{% block nav %}
	{{parent()}}
{% endblock %}

{% block body %}
	{% block text %}
		<section class="container-fluid">
			<div class="row">
				<div id="root"></div>
			</div>
			<br><br><br><br><br><br>
			<hr/>
		</section>
	{% endblock %}
{% endblock %}
