{% extends "base.html.twig" %}

{% block body %}

	{% block nav %}
		{{parent()}}
	{% endblock %}
	{% block text %}
		<div>
			<div data-controller="counter">pensabas que no funcionaba eh</div>
		</div>
	{% endblock %}

	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
