{% extends "base.html.twig" %}

{% block body %}

	{% block nav %}
		{{parent()}}
	{% endblock %}
	{% block text %}
		<div>
			<div data-controller="hello"></div>
		</div>
	{% endblock %}

	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
