@import "bootstrap";

body {
    background-color: lightgray;
}

.contenedor_videojuegos {
    background: lightblue;
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
}

.videojuego {
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    font-size: larger;
}

.nav {
    width: 100%;
}
.contenedor_juego{
    padding: 2%;
    margin: 2%;
}



