@import "bootstrap";

body {
    background-color: lightgray;
}

.contenedor_videojuegos {
    background-color: lightblue;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    font-size: larger;
}

.contenedor_juego {
    padding: 2%;
    margin: 2%;
}

.row {
    width: 100%
}
