{% extends "base.html.twig" %}

{% block stylesheet %}
	{{parent()}}
{% endblock %}

{% block javascript %}
	{{parent()}}
{% endblock %}

{% block text %}
	<section class="container-fluid" id="root"></section>
{% endblock %}
