{% extends 'base.html.twig' %}

{% block title %}videojuegos
{% endblock %}

{% block body %}
	{% block nav %}
		{{ parent() }}
	{% endblock %}
	{% block text %}
		<div class="text">
			<div class="d-flex p-2 text-center">
				<h2 class="flex-grow-1 text-secondary">Videojuegos</h2>
			</div>
			<div class="row row-cols-3">
				{% for juego in videojuegos %}
					<div class="col col-m-4 p-4">
						<div class="contenedor-videojuegos text-center p-2 m-3">
						
							<a class="text-link link-dark" href="{{ path('app_videojuego', {slug: juego.slug}) }}">
								<span class="titulo">
									{{ juego.titulo }}
								</span>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	{% block footer %}
		{{parent() }}
	{% endblock %}
{% endblock %}
