{% extends 'perfil/index.html.twig' %}

{% block body %}
    {% block nav %}{{ parent() }}{% endblock %}

    <div class="container-fluid rounded">
        <h1> {{ videojuego.titulo }}</h1>
    </div>
{% endblock %}
