{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
{% endblock %}
{% block body %}

	{% block nav %}
		{{parent()}}
	{% endblock %}

	{% block text %}
		<div class="container text">

			{% if mensaje == true %}
				<p>Ya has creado el usuario felicidades, ahora para poder empezar a utilizar las funcionalidades del programa tienes que iniciar la sesión.</p>
			{% endif %}
			<h3>¿Qué es Game Experiences?</h3>
			<p>Game Experiences es ...</p>
		</div>
	{% endblock %}

	{% block footer %}
		{{parent()}}
	{% endblock %}

{% endblock %}
