{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
{% endblock %}
{% block body %}

	{% block nav %}
		{{parent()}}
	{% endblock %}

	{% block text %}
		<div
			class="contenedor flex-column">
			<!--<h1>Game Experience</h1><br>-->
			<h3>¿Qué es Game Experiences?</h3>
			<p>Game Experiences es ...</p>
		</div>
	{% endblock %}

	{% block footer %}
		{{parent()}}
	{% endblock %}

{% endblock %}
