{% extends 'perfil/index.html.twig' %}

{% block title %} perfil {{ nombre }} {% endblock %}

{% block body %}

    {% block nav %}{{ parent() }}{% endblock %}

    <h1>{{nombre }}:</h1>
    <!-- poner mas cosasssasasaas-->

    <a href="{{ path ('app_videojuegos') }}">buscar videojuegos</a>
    <!-- lista de videojuegos -->
    <div class="listaJuego">
    </div>
{% endblock %}
