{% extends 'perfil/index.html.twig' %}

{% block title %} perfil {{ nombre }} {% endblock %}

{% block body %}

    {% block nav %}{{ parent() }}{% endblock %}

    <h1 class="m-3">{{ nombre }}:</h1>
    <!-- poner mas cosasssasasaas-->


    <!-- lista de videojuegos -->
    <div class="listaJuego">
    </div>
{% endblock %}
